[include shell_command.cfg]
###########################
### HARDWARE COMPONENTS ###
###########################
[include config/hardware/*.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include config/software/*.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/printing/*.cfg]
#[include macros/klicky/*.cfg]
[include macros/helpers/*.cfg]
[include macros/calibration/*.cfg]
[include macros/miscs/*.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3C0032000550534E4E313120-if00
restart_method: command

##--------------------RPI MCU------------------------------------------
[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 10000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]
[display_status]
[exclude_object]
[respond]
#[save_variables]
#filename: ~/klipper_config/saved_variables.cfg

[idle_timeout]
timeout: 3600
gcode:
    RESPOND MSG="Idle timeout reached"
    {% if "z" in printer.toolhead.homed_axes %}
      G90
      #example to move the head somewhere
      G1 X175 Y175 Z50 F9000

      PARK
      _TIP_SHAPING
      G1 E-10 F2100  
    {% endif %}

    TURN_OFF_HEATERS
    M107
    M400
    BED_MESH_CLEAR
    {% if disable_motors_in_end_print %}
        M84
    {% endif %}	
    LIGHT_ON S={light_intensity_end_print}
    STATUS_OFF

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.227
#*# pid_ki = 1.201
#*# pid_kd = 612.090
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.758
#*# pid_ki = 1.331
#*# pid_kd = 106.021
#*#
#*# [probe]
#*# z_offset = -0.515
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 90.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 77.6
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.026250, 0.013750, -0.010625, -0.011250, -0.097500
#*# 	  0.018750, 0.029375, 0.018125, -0.020000, -0.075625
#*# 	  0.030625, 0.047500, 0.000000, 0.019375, -0.040000
#*# 	  -0.029375, 0.017500, 0.020000, -0.008125, -0.073125
#*# 	  -0.075000, -0.028125, -0.027500, -0.046875, -0.095625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 280.0
#*# min_y = 20.0
#*# max_y = 280.0
