######################### PRINT START / END #########################

[gcode_macro PRINT_START]
# For setting the parameters as persistent variables so they can be referenced in PRINT_START2
variable_bedtemp: 0
variable_hotendtemp: 0
variable_chambertemp: 0
gcode:      
    # Parameters
    {% set bed = params.BED|int %}
    {% set hotend = params.HOTEND|int %}
    {% set chamber = params.CHAMBER|default(0)|int %}

    # Set the parameters as persistent variables so they can be referenced outside of the macro (in PRINT_END)
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=bedtemp VALUE={bed}   
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=hotendtemp VALUE={hotend} 
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=chambertemp VALUE={chamber}   
    CLEAR_PAUSE                                                                          ; clear pause
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=0                                       ; cancel off timer (if there is one)
    _RESETSPEEDS                                                                         ; reset speed, accel etc to configured values

    STATUS_HOMING
    M140 S{bed}                                                                          ; set bed to target temp
    G28                                                                                  ; home
    G90                                                                                  ; absolute positioning
    BED_MESH_CLEAR                                                                       ; Clean any loaded bed messh
    SET_GCODE_OFFSET Z=0 ;MOVE=1                                                         ; Reset Z-Offset
    SET_DISPLAY_TEXT MSG="Heatsoak: {chamber-5}c"  # Displays info
    STATUS_HEATING
    {% if printer['temperature_sensor chamber'].temperature < chamber or printer.heater_bed.temperature < (bed-2)  %}
    #{% if printer['heater_generic chamber'].temperature < chamber or printer.heater_bed.temperature < (bed-2)  %} ; (TEST)
        HEATSOAK T={bed} C={chamber} H={150} MOVE=1 WAIT=1                                       ;   heatsoak macro + park in center
    {% else %}                                                                           ; - if chamber is already at temp:
        HEATSOAK T={bed} C={chamber} H={150} MOVE=0 WAIT=1                                       ;       "heatsoak" without parking (only still calling this because it does some other things like turn off exahaust fan)
    {% endif %} 
    M190 S{bed}      
    M109 S{150}                                                                
    SET_DISPLAY_TEXT MSG="QGL"      # Displays info
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL                                                                    ; quad gantry level
    G28 Z                                                                                ; home z
    G90                                                                                  ; absolute positioning
    SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
    STATUS_MESHING
    BED_MESH_CALIBRATE                                                                   ; mesh
    #BED_MESH_PROFILE LOAD=default
    # Heats up the nozzle up to target via data from slicer
    SET_DISPLAY_TEXT MSG="Hotend: {hotend}c"             # Displays info
    STATUS_HEATING                                                # Sets SB-leds to heating-mode
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F19500 
    M107                                                          # Turns off partcooling fan
    M109 S{hotend}                                       # Heats the nozzle to printing temp

    # Gets ready to print by doing a purge line and updating the SB-leds
    SET_DISPLAY_TEXT MSG="Printer goes brr"         # Displays info
    STATUS_PRINTING                                  # Sets SB-leds to printing-mode
    ADAPTIVE_PURGE
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1                                  ; enable filament sensor 
    #G0 X100 Y4 F10000                                # Moves to starting point
    #G0 Z0.4                                          # Raises Z to 0.4
    #G91                                              # Incremental positioning 
    #G1 X100 E20 F1000                                # Purge line
    #G90                                              # Absolut position

[delayed_gcode DELAYED_OFF]
gcode:
    OFF ; call "OFF" macro, to turn off everything (heaters, motors, lights, fans)
    

    